* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

#root {
    width: 100%;
    height: 100%;
}